@import url('https://fonts.goog@leapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   .root{
    --main-blue:#3a6cf4;
   }


*{
     margin: 0;
     padding: 0;
     font-family: 'poppins',sans-serif;
     box-sizing: border-box;
     scroll-behavior: smooth;
}
header{
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
   color: var(--main-blue);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: var(--main-blue);
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
.navigation a :hover{
    color: #601cfc;
}
section{
    padding: 100px 200px;

}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}
socail-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    background-color: #fff;
    width: 21.25em;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    box-shadow: 0 5px 25px black;
}
.card:hover{
    transform: scale(1.1);
}
.card .icon{
    color: var(--main-blue);
    font-size: 40px;
    text-align: center;

}


